@page
@model PrivacyModel
@{
    ViewData["Title"] = "About the project";
}
<h1>@ViewData["Title"]</h1>

<p>
    Dear Sir or Madam,
    My name is Michael Braverman, and I am candidate for the full stack developer role at Southern Cross.
    First of all, thank you for this opportunity and I have enjoyed to work on this small assignment.
    For more details, please, the "readMe.docx" file
</p>
